[submodule "java-spring-data-jpa-plugin"]
	path = java-spring-data-jpa-plugin
	url = https://github.com/zup-academy/java-spring-data-jpa-plugin
[submodule "java-spring-security-oauth2-resourceserver-plugin"]
	path = java-spring-security-oauth2-resourceserver-plugin
	url = https://github.com/zup-academy/java-spring-security-oauth2-resourceserver-plugin
[submodule "java-spring-open-feign-plugin"]
	path = java-spring-open-feign-plugin
	url = https://github.com/zup-academy/java-spring-open-feign-plugin
[submodule "java-spring-aws-sqs-plugin"]
	path = java-spring-aws-sqs-plugin
	url = https://github.com/zup-academy/java-spring-aws-sqs-plugin
[submodule "java-spring-kafka-plugin"]
	path = java-spring-kafka-plugin
	url = https://github.com/zup-academy/java-spring-kafka-plugin
[submodule "java-spring-aws-sns-plugin"]
	path = java-spring-aws-sns-plugin
	url = https://github.com/zup-academy/java-spring-aws-sns-plugin
[submodule "java-spring-aws-s3-plugin"]
	path = java-spring-aws-s3-plugin
	url = https://github.com/zup-academy/java-spring-aws-s3-plugin
[submodule "java-spring-cache-redis-plugin"]
	path = java-spring-cache-redis-plugin
	url = https://github.com/zup-academy/java-spring-cache-redis-plugin
[submodule "java-spring-aws-dynamodb-plugin"]
	path = java-spring-aws-dynamodb-plugin
	url = https://github.com/zup-academy/java-spring-aws-dynamodb-plugin
