[submodule "java-spring-data-jpa-plugin"]
	path = java-spring-data-jpa-plugin
	url = https://github.com/zup-academy/java-spring-data-jpa-plugin
[submodule "java-spring-security-oauth2-resourceserver-plugin"]
	path = java-spring-security-oauth2-resourceserver-plugin
	url = https://github.com/zup-academy/java-spring-security-oauth2-resourceserver-plugin
